@use 'styles/constants/colors' as color;

.recommendation {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 490px;
  padding: 20px;
  background-color: color.$WHITE;
  border-radius: 18px;
  box-shadow: 0 2px 4px rgba(30, 32, 37, 10%);
  transform: translateX(-50%);
}
